{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate-dSTS": [
          "http://schemas.microsoft.com/dsts/saml2-bearer metadata-version=1,sts-realm=realm://dsts.core.azure-test.net/,certificate-sts-address=https://co2agg04-dsts.dsts.core.azure-test.net/v2/wstrust/13/certificate,issued-token-sts-address=https://co2agg04-dsts.dsts.core.azure-test.net/v2/wstrust/13/issuedtoken-bearer,discovery-sts-address=https://co2agg04-dsts.dsts.core.azure-test.net/2012/IDstsDiscoveryService,service-dns-name=secrets.wanrr-test.radar.core.azure-test.net,known-sts-thumbprints=ForBackwardCompatibility,trusted-sts-thumbprints=ForBackwardCompatibility,error=3,error-description=\"The security token is invalid. Cannot decode base64 encoded string. The input is not a valid Base-64 string as it contains a non-base 64 character, more than two padding characters, or an illegal character among the padding characters. \""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"peerAsn\": 1349,\r\n        \"peerContactDetail\": [\r\n          {\r\n            \"role\": \"Noc\",\r\n            \"email\": \"noc1349@contoso.com\",\r\n            \"phone\": \"8888988888\"\r\n          }\r\n        ],\r\n        \"peerName\": \"Contoso\",\r\n        \"validationState\": \"Approved\"\r\n      },\r\n      \"name\": \"AS1349\",\r\n      \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/AS1349\",\r\n      \"type\": \"Microsoft.Peering/peerAsns\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"peerAsn\": 3653,\r\n        \"peerContactDetail\": [\r\n          {\r\n            \"role\": \"Noc\",\r\n            \"email\": \"noc3653@contoso.com\",\r\n            \"phone\": \"8888988888\"\r\n          }\r\n        ],\r\n        \"peerName\": \"Contoso\",\r\n        \"validationState\": \"Approved\"\r\n      },\r\n      \"name\": \"AS3653\",\r\n      \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/AS3653\",\r\n      \"type\": \"Microsoft.Peering/peerAsns\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "3e919f9a-4e26-4736-aa8d-d596d9a49239"
  }
}